@charset 'utf-8';

/* 공통 설정 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.login-container {
  width: 100%;
  max-width: 25rem;
  margin: 5rem auto;
  padding: 2rem;
  border: 1px solid rgb(236, 235, 235);
  border-radius: 0.5rem;
  background-color: rgb(248, 248, 248);
}

.login-container h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  color: black;
}

.login-container label{
  color: black;
}

.login-container input {
  display: block;
  width: 100%;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid gainsboro;
  border-radius: 0.25rem;
  font-size: 1rem;
}

.login-container button {
  width: 100%;
  padding: 0.75rem;
  background-color: rgb(0, 0, 0);
  color: white;
  border: none;
  border-radius: 0.25rem;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 1rem;
}

.login-container button:hover {
  background-color: rgb(104, 104, 104);
}



/* 태블릿 이상 */
@media (max-width: 768px) {
  .login-container {
    padding: 2.5rem;
    max-width: 30rem;
  }
  
  .login-container h2 {
    font-size: 1.75rem;
  }

  .login-container input, .loginBtn {
    font-size: 1.125rem;
  }
}

/* 데스크탑 이상 */
@media (min-width: 1024px) {
  .login-container {
    max-width: 35rem;
    padding: 3rem;
  }

  .login-container h2 {
    font-size: 2rem;
  }

  .login-container input, .loginBtn {
    font-size: 1.25rem;
  }
}


